@{
    ViewBag.Title = Resources.Home_Download_Title;
}

<h1>@Resources.Home_Download_Title</h1>

<div>
    <h4 style="font-size:14px;font-weight:bold;">64位系统下载（本地下载）：</h4>
    <hr />
    <ul>
        <li><a href="/Downloads/Git-2.20.1-64-bit.exe" target="_blank">下载Git for  Windows</a></li>
        <li><a href="/Downloads/TortoiseGit-2.7.0.0-64bit.msi" target="_blank">下载Git客户端</a></li>
        <li><a href="/Downloads/TortoiseGit-LanguagePack-2.7.0.0-64bit-zh_CN.msi" target="_blank">下载Git客户端中文语言包</a></li>
    </ul>
    <br /><br />
    <h4>32位系统下载：</h4>
    <ul>
        <li><a href="/Downloads/Git-2.20.1-32-bit.exe" target="_blank">下载Git for  Windows</a></li>
        <li><a href="/Downloads/TortoiseGit-2.7.0.0-32bit.msi" target="_blank">下载Git客户端</a></li>
        <li><a href="/Downloads/TortoiseGit-LanguagePack-2.7.0.0-32bit-zh_CN.msi" target="_blank">下载Git客户端中文语言包</a></li>
    </ul>

    <br /><br />
    <h4>GIT资料下载</h4>
    <ul>
        <li><a href="/Downloads/Git教程.pdf" target="_blank" title="GIT中文教程">GIT中文教程</a></li>
    </ul>
    <br /><br />
    <h4 style="font-size:14px;font-weight:bold;">64位系统下载（官网下载）：</h4>
    <hr />
    <ul>
        <li><a href="https://github.com/git-for-windows/git/releases/download/v2.20.1.windows.1/Git-2.20.1-64-bit.exe" target="_blank">下载Git for  Windows</a></li>
        <li><a href="https://download.tortoisegit.org/tgit/2.7.0.0/TortoiseGit-2.7.0.0-64bit.msi" target="_blank">下载Git客户端</a></li>
        <li><a href="https://download.tortoisegit.org/tgit/2.7.0.0/TortoiseGit-LanguagePack-2.7.0.0-64bit-zh_CN.msi" target="_blank">下载Git客户端中文语言包</a></li>
    </ul>
    <br /><br />
    <h4>32位系统下载：</h4>
    <ul>
        <li><a href="https://github.com/git-for-windows/git/releases/download/v2.20.1.windows.1/Git-2.20.1-32-bit.exe" target="_blank">下载Git for  Windows</a></li>
        <li><a href="https://download.tortoisegit.org/tgit/2.7.0.0/TortoiseGit-2.7.0.0-32bit.msi" target="_blank">下载Git客户端</a></li>
        <li><a href="https://download.tortoisegit.org/tgit/2.7.0.0/TortoiseGit-LanguagePack-2.7.0.0-32bit-zh_CN.msi" target="_blank">下载Git客户端中文语言包</a></li>
    </ul>

    <br /><br />
    <h4>GIT资料下载</h4>
    <ul>
        <li><a href="/Downloads/Git教程.pdf" target="_blank" title="GIT中文教程">GIT中文教程</a></li>
    </ul>
</div>
